<article class="_container_all">
  <div class="_container">
    <div class="_container_cards">
      <section class="_container_item" (click)="showMoreUxUi()">
        <h2 class="_item" >
          UX | UI
        </h2>
      </section>
      <div class="_container_info" [hidden]="!visibleUxUi">
        <div class="_container_button">
          <button class="_button_more" routerLink="ux-ui">
            <mat-icon class="_icon_button">work_outline</mat-icon>portafolio digital
          </button>
        </div>
        <figure class="_container_realizations">
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/ux_ui/v_life_isologo.png" alt="Logo de V-Life">
            <p class="_name_realization">v-life</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/ux_ui/travelLog_isologo.png" alt="Logo de TravelLog">
            <p class="_name_realization">travel-log</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/ux_ui/nighx_isologo.png" alt="Logo de Nighx">
            <p class="_name_realization">nighx</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/ux_ui/hunt_isologo.png" alt="Logo de hunt">
            <p class="_name_realization">hunt</p>
          </div>   
        </figure><hr>
        <p class="_info"><span>UX</span> - 
          Se llama <span>experiencia de usuario,</span> por su enfoque, a la <span>relación sistema humano | máquina,</span> 
          y aparece como una evolución de la ergonomía, manteniendo al <span>diseño en el papel protagónico</span> 
          para la búsqueda de <span>satisfacción en las personas que interactúan con un sistema, produto o entorno.</span></p>
        <p class="_info"><span>UI</span> - El <span>diseño de interfaz de usuario</span> 
          es el resultado de definir la <span>forma, función, utilidad, ergonomía, imagen de marca</span>
          y otros aspectos que afectan a la apariencia externa de las interfaces en sistemas de todo tipo.
        </p>
      </div>
      <section class="_container_item" (click)="showMoreGraph()">
        <h2 class="_item" >
          Diseño Gráfico
        </h2>
      </section>
      <div class="_container_info" [hidden]="!visibleGraph">
        <div class="_container_button">
          <button class="_button_more" routerLink="graph">
            <mat-icon class="_icon_button">work_outline</mat-icon>portafolio digital
          </button>
        </div>
        <figure class="_container_realizations">   
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/sweetart_logo.png" alt="Logo de SweetArt">
            <p class="_name_realization">sweetart</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/nescafe.png" alt="Logo de ïcono campaña Nescafé">
            <p class="_name_realization">nescafé</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/doritos.png" alt="Logo de Doritos Trío">
            <p class="_name_realization">doritos</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/barista.png" alt="Logo de Barista Bros">
            <p class="_name_realization">barista</p>
          </div>
        </figure>
        <figure class="_container_realizations" >
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/branca_logo.png" alt="Logo de Fernet Branca">
            <p class="_name_realization">branca</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/lopez_logo.png" alt="Logo de López Propiedades">
            <p class="_name_realization">lópez</p>
          </div>
          <div class="_container_realization">
            <img class="_logo_realization" src="../assets/images/graph/mdq_logo.png" alt="Logo de Garage MDQ">
            <p class="_name_realization">mdq</p>
          </div>
          <div class="_container_realization">
            <img id="nudel" class="_logo_realization" src="../assets/images/graph/nudel_logo.png" alt="Logo de Nudel">
            <p class="_name_realization">nudel</p>
          </div>
        </figure>
        <div class="_show_more" (click)="showMoreDesigns()">
          <div class="_container_see_more" *ngIf="visibleDesigns">
            <mat-icon class="_icon_expand">expand_less</mat-icon>
            <p class="_see_more">ver menos</p>
          </div>
          <div class="_container_see_more" *ngIf="!visibleDesigns">
            <mat-icon class="_icon_expand">expand_more</mat-icon>
            <p class="_see_more">ver más</p>
          </div>
        </div>
        <div [hidden]="!visibleDesigns">
          <figure class="_container_realizations" >
            <div class="_container_realization">
              <img class="_logo_realization" src="../assets/images/graph/branca_logo.png" alt="Logo de Fernet Branca">
              <p class="_name_realization">branca</p>
            </div>
            <div class="_container_realization">
              <img class="_logo_realization" src="../assets/images/graph/lopez_logo.png" alt="Logo de López Propiedades">
              <p class="_name_realization">lópez</p>
            </div>
            <div class="_container_realization">
              <img class="_logo_realization" src="../assets/images/graph/mdq_logo.png" alt="Logo de Garage MDQ">
              <p class="_name_realization">mdq</p>
            </div>
            <div class="_container_realization">
              <img class="_logo_realization" src="../assets/images/graph/nudel_logo.png" alt="Logo de Nudel">
              <p class="_name_realization">nudel</p>
            </div>
          </figure>
        </div>
        <hr>
        <p class="_info"><span>Diseño Gráfico </span> - Profesión y disciplina académica 
          cuya actividad consiste en <span>proyectar comunicación visual</span> destinada a 
          <span>transmitir mensajes</span> específicos a grupos sociales con <span>objetivos 
          determinados. Se aplica para producir un discurso de marca homogéneo generando 
          identidad visual</span> a personas, productos o servicios.
        </p>
      </div>
      <section class="_container_item" (click)="showMoreIllustration()">
        <h2 class="_item" >
          Ilustración
        </h2>
      </section>
      <div class="_container_info" [hidden]="!visibleIllustration">
        <p class="_info">Se considera un <span>lenguaje gráfico universal,</span> 
          ha sido utilizado por la humanidad para transmitir <span>ideas, proyectos</span> 
          y en un sentido más amplio, sus <span>costumbres y cultura.</span>
        </p>
        <div class="_container_button">
          <button class="_button_more" routerLink="illustration-sketch">
            <mat-icon class="_icon_button">work_outline</mat-icon>portafolio digital
          </button>
        </div>
        <figure class="_container_realizations">

        </figure>
      </div>
    </div>
    <app-footer class="_footer"></app-footer>
  </div>
</article>