@import '../../../global/global.component.scss';

/* SCREEN 0px */
@media (min-width: 0px) {

  ._container {
    height: 35vh;
    padding-top: 1rem;
  }
  div._container_cards {
    background-color: $first_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0rem 4rem 0rem;
  }
  ._container_item {
    cursor: pointer;
    background-color: $third_color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0rem;
    width: 91vw;
    border-radius: 50px;
    margin: 1.3rem;
  }
  ._container_item:hover { 
    background-color: $third_color_light;
  }
  div._container_info {
    background-color: #f9f9f9;
    width: 81vw;
    height: auto;
    border-radius: 33px;
    margin: -1rem 2rem 1rem 2rem;
    padding: 1rem;
  }
  h2._item {
    margin: 0;
    color: $first_color;
    font-size: 1.6rem;
  }
  span {
    font-weight: 800;
  }
  p._info {
    font-size: .9rem;
    color: $first_color;
    margin: 1rem .5rem;
    line-height : 1.3rem;
  }
  div._container_button {
    display: flex;
    justify-content: center;
  }
  button._button_more {
    font-weight: 700;
    background-color: $second_color;
    color: $first_color;
    border-radius: 50px;
    padding: .5rem 3.5rem;
    margin: .5rem auto;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px 0px #333333; 
    box-shadow: 0px 0px 4px 0px #333333; 
  }
  button._button_more:hover,
  div._show_more:hover {
    background-color: $second_color_light; 
  }
  button._button_more:active,
  div._show_more:active {
    -webkit-box-shadow: 0px 0px 0px 0px #333333; 
     box-shadow: 0px 0px 0px 0px #333333; 
  }
  ._icon_button {
    margin-right: .5rem;
    color: $first_color;
  }
  div._container_realization {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
  }
  figure._container_realizations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem auto;
  }
  img._logo_realization {
    -webkit-transition:-webkit-transform 0.5s ease-out;
    -moz-transition:-moz-transform 0.5s ease-out;
    -o-transition:-o-transform 0.5s ease-out;
    -ms-transition:-ms-transform 0.5s ease-out;
    transition:transform 0.5s ease-out;
    width: 3rem;
    filter: grayscale(1);
    outline: 2px solid $second_color;
    border-radius: 50%;
    cursor: pointer;
  }
  img._logo_realization:hover {
    filter: none;
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  img#nudel:hover {
    filter: url('../../../../assets/images/graph/nudel_logo.png');
  }
  p._name_realization {
    font-size: .7rem;
    color: $first_color;
    margin-block-start: .5em;
    margin-block-end: .5em;
  }
  div._show_more {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: $second_color;
    width: 7rem;  
    margin: .5rem auto 1rem auto;
    cursor: pointer;
    padding: .3rem 0rem;
    -webkit-box-shadow: 0px 0px 4px 0px #333333; 
    box-shadow: 0px 0px 4px 0px #333333; 
  }
  p._see_more {
    font-size: .8rem;
    margin: 0rem;
    color: $first_color;
    font-weight: 500;
  }
  ._icon_expand {
    color: $first_color;
  }
  div._container_see_more {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  ._footer {
    position: relative;
    top: 15rem;
  }

}
/* SCREEN 375px */
@media (min-width: 375px) { 

  div._container_cards {
    padding: 3rem;
  }

}

/* SCREEN 414px */
@media (min-width: 414px) { 

  div._container_cards {
    padding: 5rem;
  }

}

/* SCREEN 768px */
@media (min-width: 768px) { 

  div._container_cards {
    padding: 5rem;
  }
  ._container_item {
    width: 50vw;
  }

}

/* SCREEN 1024px */
@media (min-width: 1024px) { 

  div._container_cards {
    padding: 2rem;
  }

}

/* SCREEN 1336px */
@media (min-width: 1336px) { 

  ._container_item {
    width: 35vw;
  }

}

/* SCREEN 1920px */
@media (min-width: 1920px) { 

  ._container_item {
    width: 22vw;
  }

}