<article class="_container_footer">
  <section class="_header_footer">
    <div class="_divisor_top"></div>
    <div class="_container_ornament">
      <img src="../../../../assets/images/footer/ornamento_top_footer.svg" alt="ojo pez volador">
    </div>   
  </section>

  <section class="_container_social_networks">
    <div class="_container_logo_socialnet">
      <a href="https://www.linkedin.com/in/sebastian-bellido-9a0a6681/" target="_blank">
        <img class="_logo_socialnet" title="Sebastián Bellido en Linkedin" 
        src="../../../../assets/images/social_network/linkeding/logo_social_network_linkedin.svg" alt="logo de linkedin">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://www.behance.net/sebastianba389" target="_blank">
        <img class="_logo_socialnet" title="Sebastián Bellido en Behance"
        src="../../../../assets/images/social_network/behance/logo_social_network_behance.svg" alt="logo de instagram">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://github.com/SBellido" target="_blank">
        <img class="_logo_socialnet" title="Sebastián Bellido en Github"
        src="../../../../assets/images/social_network/github/logo_social_network_github.svg" alt="logo de github">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://bitbucket.org/account/workspaces/" target="_blank">
        <img class="_logo_socialnet" title="Sebastián Bellido en Bitbucket"
        src="../../../../assets/images/social_network/bitbucket/logo_social_network_bitbucket.svg" alt="logo de bitbucket">
      </a>
    </div>
  </section>

  <section class="_personal_data">
    <div class="_container_firm">
      <img src="../../../../assets/images/footer/firma_footer.svg" alt="Firma de Sebastián Bellido">
    </div>
    <!-- NAVBAR CIRCLE BUTONS -->
    <section class="_container_buttons">   
      <div class="_container_button">
        <mat-button class="_button" id="design"
          [ngClass]="designActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('design')">
          <mat-icon class="_icon_nav">create</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">diseño</p>
      </div>
      <div class="_container_button">
        <mat-button class="_button" id="development"
          [ngClass]="developmentActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('development')">
          <mat-icon class="_icon_nav">code</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">desarrollo</p>
      </div>
      <div class="_container_button">
        <mat-button class="_button" id="intervention"
          [ngClass]="interventionActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('intervention')">
          <mat-icon class="_icon_nav">color_lens</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">intervención</p>
      </div>
      <div class="_container_button">
        <mat-button class="_button" id="biography"
          [ngClass]="biographyActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('biography')">
          <mat-icon class="_icon_nav">fingerprint</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">biografía</p>
      </div>
    </section>
    <div class="_container_ornament">
      <img src="../../../../assets/images/footer/ornamento_bottom_footer.svg" alt="ojo pez volador">
    </div>  
  </section>

  <section class="_footer">
    <div class="_container_buttons_contact">
      <a class="_btn_footer" target="_blank" href="https://api.whatsapp.com/send?phone=541121580848">
        <img class="_btn_icon" src="../../../../assets/images/footer/logo_whatsapp.svg" alt="logo de whatsapp">
        llámame
      </a>
      <div class="_container_divisor">
        <hr><p class="_o_divisor">ó</p><hr>
      </div>
      <a class="_btn_footer" target="_blank" href="mailto:sebastianbellidodg@gmail.com">
        <img class="_btn_icon" src="../../../../assets/images/footer/icon_email.svg" alt="icono de un sobre">
        contáctame
      </a>
    </div>
    <div class="_divisor_bottom"></div>
    <div class="_footer_bottom">
      <p class="_copyright"><span>@Copyright</span> | Todos los derechos reservados a <span>Sebastián Bellido.</span></p>
    </div>
  </section>
</article> 