<article class="_container_footer">

  <section class="_header_footer">
    <div class="_container_ornament">
      <img class="_logo_footer" src="../../../../assets/images/sb/mabell_logo_final.png" alt="ojo pez volador">
    </div>   
  </section>

  <section class="_container_social_networks">
    <div class="_container_logo_socialnet">
      <a href="https://www.linkedin.com/in/sebastian-bellido-9a0a6681/" target="_blank">
        <img class="_logo_socialnet" 
        src="../../../../assets/images/social_network/linkeding/logo_social_network_linkedin.svg" alt="logo de LinkedIn">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://www.behance.net/sebastianba389" target="_blank">
        <img class="_logo_socialnet"
        src="../../../../assets/images/social_network/facebook/logo_social_network_face.svg" alt="logo de Facebook">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://github.com/SBellido" target="_blank">
        <img class="_logo_socialnet"
        src="../../../../assets/images/social_network/instagram/logo_social_network_instagram.svg" alt="logo de Instagram">
      </a>
    </div>
    <div class="_container_logo_socialnet">
      <a href="https://bitbucket.org/account/workspaces/" target="_blank">
        <img class="_logo_socialnet"
        src="../../../../assets/images/social_network/tiktok/logo_social_network_tiktok.svg" alt="logo de TikTok">
      </a>
    </div>
  </section>

  <section class="_personal_data">
    <!-- NAVBAR CIRCLE BUTONS -->
    <section class="_container_buttons">   
      <div class="_container_button">
        <mat-button class="_button" id="design"
          [ngClass]="designActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('design')">
          <mat-icon class="_icon_nav">local_florist</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">designer</p>
      </div>
      <div class="_container_button">
        <mat-button class="_button" id="development"
          [ngClass]="developmentActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('development')">
          <mat-icon class="_icon_nav">developer_mode</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">developer</p>
      </div>
      <div class="_container_button">
        <mat-button class="_button" id="biography"
          [ngClass]="biographyActive ? '_active_button' : '_inactive_button'" 
          (click)="setButtonsStyle('biography')">
          <mat-icon class="_icon_nav">fingerprint</mat-icon>
        </mat-button>
        <p class="_text_button _text_button_footer">profile</p>
      </div>
    </section>
  </section>
  
  <section class="_container_contact">     
    <div class="_container_buttons">
      <div class="_contact_buttons">  
        <mat-button class="_button_contact" id="icon_email" mat-menu-item>
          <mat-icon class="_icon_nav">alternate_email</mat-icon>
        </mat-button>
      </div>
      <div class="_contact_buttons">  
        <mat-button class="_button_contact" id="phone" mat-menu-item>
          <mat-icon class="_icon_nav">perm_phone_msg</mat-icon>
        </mat-button>
      </div>
    </div>
    <p class="message">Write me or Call me!</p>
  </section>

  <div class="_footer_bottom">
    <p class="_copyright"><span>@Copyright</span> | All rights reserved to <span>S.A.B.V.</span></p>
  </div>

</article> 