<section class="_container_info">
  <div class="_container_career">
    <h3 class="_year">TUDAI</h3>
    <p class="_info"><span>2017 | 2022</span></p>
    <p class="_info">Tecnicatura Universitaria en Deasarrollo de Aplicaciones Informáticas</p>
    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/exactas.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="https://exa.unicen.edu.ar/tudai/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
    </div>
  </div>
  <div class="_container_career">
    <h3 class="_year">UXDI</h3>
    <p class="_info"><span>2018</span></p>
    <p class="_info">Diplomatura Universitaria en Experiencias de Usuario y Diseño Inclusivo</p>
    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/uxdi.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="https://uxdi.exa.unicen.edu.ar/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
    </div>
  </div>
  <div class="_container_career">
    <h3 class="_year">Formación Pedagógica</h3>
    <p class="_info"><span>2015 | 2016</span></p>
    <p class="_info">Tramo de Formación Pedagógica para Profesionales</p>
    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/vocacion_docente.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="https://www.vocaciondocente.com/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
      </div>
    </div>
    <div class="_container_career_end">
      <h3 class="_year">Lic. DCV</h3>
      <p class="_info"><span>1998 | 2007</span></p>
      <p class="_info">Lic. en Diseño en Comunicación Visual</p>
      <div class="_container_logo">
        <img class="_logo" src="../../../../assets/images/biography/academic/fda_unlp.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="http://www2.fba.unlp.edu.ar/dcv/carrera/plan-de-estudios/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
    </div>
  </div>
</section>
