<section class="_container_info">
  <div class="_container_career">
    <h3 class="_year">TUDAI</h3>
    <p class="_info"><span>2017 | 2022</span></p>
    <p class="_info">University Technician in Development of Computer Applications</p>
    <!-- <p class="_info">Tecnicatura Universitaria en Deasarrollo de Aplicaciones Informáticas</p> -->
    
    <!-- 
      Primer Año
      Primer Cuatrimestre
      Programación 1
      Web 1
      Taller de Matemática Computacional
      Inglés 1
      Segundo Cuatrimestre
      Tecnología de la información en las organizaciones
      Web 2
      Programación 2
      Inglés 2
      Seminario Tecnológico 1
      Segundo Año
      Primer Cuatrimestre
      Configuración y desarrollo de aplicaciones en redes
      Programación 3
      Introducción a las Metodologías de desarrollo de software
      Bases de Datos
      Seminario Tecnológico 2
      Segundo Cuatrimestre
      Técnicas de documentación y validación
      Interfaces de usuario e Interacción
      Arquitecturas Web
      Seminario Tecnológico 3
      Tercer Año
      Primer Cuatrimestre
      Prácticas Profesionales (PPS)

      Descripción del Plan de Estudios
      La formulación de esta carrera entiende la inclusión de los siguientes contenidos mínimos:
      Programación: Conceptos básicos, programación estructurada y orientada a objetos y nociones de complejidad
      Principios para el desarrollo de aplicaciones en Internet
      Comprensión y uso de metodologías de desarrollo
      Procesos de verificación y documentación
      Interfaces de usuario: manejo de eventos, conceptos de diseño de interfaces, principios de visualización en computadora, usabilidad y accesibilidad en distintos dispositivos
      Participación en proyectos de desarrollo de sistemas de información
      Matemática y lógica proposicional aplicada a la computación
 
      
      Perfil profesional
      El perfil del egresado incluye los siguientes rasgos distintivos:

      Trabajo en equipo, asumiendo las tareas y responsabilidades dentro de un grupo,
      Formación integral, entendiendo los conceptos teóricos dentro del análisis de casos reales,
      Capacidad para discutir ideas y alternativas para la solución de problemas,
      Capacidad de actualizarse en las nuevas tecnologías, metodologías y herramientas concernientes al desarrollo de sistemas.
      Modalidad de trabajo independiente o bajo la supervisión de otro profesional,
      Comprensión de documentos técnicos, incluso en idioma inglés 
    -->

    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/exactas.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <!-- <a class="_link" href="https://exa.unicen.edu.ar/tudai/" target="_blank">
            <mat-icon>link</mat-icon>perfil
          </a> -->
          <div class="_open">
            <button class="_details">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
            <p>programa</p>
          </div>
          <a class="_link" href="https://exa.unicen.edu.ar/tudai/" target="_blank">
          </a>
        </section>
    </div>
  </div>
  <div class="_container_career">
    <h3 class="_year">UXDI</h3>
    <p class="_info"><span>2018</span></p>

    <!-- 
  
Perfil profesional 
  Quien curse UXDI habrá aprendido y practicado los temas fundamentales de la disciplina del
  Diseño Centrado en el usuario y el pensamiento de diseño. Comprender los procesos, con
  estándares y pautas, normas internacionales, con foco en los métodos y herramientas de la
  Experiencia de Usuario y también del trabajo en equipo. Estará perfectamente preparada
  para integrar cualquier equipo de proyecto de diseño e innovación usando herramientas y
  técnicas funcionales y validadas, comunicándose con claridad y generando entregables de
  valor real para sus proyectos, sus equipos y su comunidad. Sabrán captar, entender y
  trabajar sobre los requerimientos de los negocios, sus clientes y de las personas, idear
  modelos superadores y crear nuevas características y modelos de negocios.
  Quien curse UXDI podrá insertarse en empresas de software, en el área de UX y en áreas de
  I+D, en roles como diseñadores de interfaz de interacción, interfaces de usuario,
  investigadores de experiencia de usuario, y entender el proceso de desarrollo de creadores
  de contenidos digitales, gestores de proyecto, dueños de producto, experiencia del Cliente,
  analistas y desarrolladores de front end. 

Programa
  Temas generales
    Cognición y percepción humana
    Campo de estudio
    Gestión de proyectos, equipos y agilidad
    Sistemas complejos y sustentabilidad
    Definir el proyecto
    Entender (investigación)
    Idear
    Prototipar
    Probar y ajustar

  Temas transversales
    Diversidad
    Comunicación


-->


    <p class="_info">
      University Diploma in User Experiences and Inclusive Design
    </p>
    <!-- <p class="_info">Diplomatura Universitaria en Experiencias de Usuario y Diseño Inclusivo</p> -->
    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/uxdi.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="https://uxdi.org/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
    </div>
  </div>
  <div class="_container_career">
    <h3 class="_year">Pedagogical Training</h3>
    <p class="_info"><span>2015 | 2016</span></p>
    <p class="_info">Pedagogical Training Section for Professionals</p>
    <!-- <p class="_info">Tramo de Formación Pedagógica para Profesionales</p> -->
    <div class="_container_logo">
      <img class="_logo" src="../../../../assets/images/biography/academic/vocacion_docente.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="https://www.vocaciondocente.com/" target="_blank">
            <mat-icon>link</mat-icon>institución
          </a>
        </section>
      </div>
    </div>
    <div class="_container_career_end">
      <h3 class="_year">DCV</h3>
      <p class="_info"><span>1998 | 2007</span></p>
      <p class="_info">Graduate of Design in Visual Communication</p>
      <div class="_container_logo">
        <img class="_logo" src="../../../../assets/images/biography/academic/fda_unlp.jpg" 
        alt="Logo de la Facultad de Ciencias Exactas">
        <section class="_container_links">
          <a class="_link" href="http://www2.fba.unlp.edu.ar/dcv/carrera/plan-de-estudios/" target="_blank">
            <mat-icon>link</mat-icon>faculty
          </a>
        </section>
    </div>
  </div>
</section>
