@import '../../global.component.scss';

/* SCREEN 0px*/
@media (min-width: 0px) { 

/* ------------NAVBAR HAMBURGUER---------------*/
::ng-deep  .mat-toolbar.mat-primary {
    background: $first_color;
    position: fixed;
    top: 0;
    z-index: 1;
    padding: .5rem 0rem;
  }
  .mat-toolbar-row, 
  .mat-toolbar-single-row {
    justify-content: space-between;
  }
  ._icon_hamburguer {
    color: $second_color;
    cursor: pointer;
  }
  // ._icon_hamburguer:hover {
  //   color: $second_color_light;
  // }
  // ._icon_hamburguer:active,
  // ._icon_hamburguer:visited,
  // ._icon_hamburguer:focus {
  //   color: $third_color;
  // }
  ._active_icon_hamburguer {
    color: $third_color;
  }
  ._inactive_icon_hamburguer {
    color: $second_color;
  }
  .mat-menu-item._button_hamburguer {
    background: $first_color;
    font-size: 1.1rem;
    font-weight: $font-weight-light;
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
  }
  // .mat-menu-item._button_hamburguer:hover {
  //   background: $first_color_hover;
  // }
  .mat-menu-item, 
  .mat-icon-no-color {
    color: $second_color;
  }
  span {
    color: $accent_color;
  }
  .mat-menu-submenu-icon {
    color: $second_color;
  }
  ::ng-deep
  .mat-menu-content {
    padding-top: 10px;
    padding-bottom: 10px;
    background: $first_color;
    position: absolute;
    left: -16px;
  }
  div._empty {
    width: 24px;
    height: 40px;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 3em;
  }
  img._firma_home {
    margin:auto;
  }  
  ::ng-deep
  .mat-menu-item[_ngcontent-bbx-c50], 
  .mat-icon-no-color[_ngcontent-bbx-c50], 
  .mat-menu-submenu-icon[_ngcontent-bbx-c50] {
    color: $second_color;
  }
  ::ng-deep
    div.mat-elevation-z4 {
      margin-top: .7rem;
      width: 100vw;
      top: 50px;
      height: 40vh;
  }

  /* ------------NAVBAR CIRCLE BUTTONS---------------*/
  
  img._logo_navbar {
    cursor: pointer;
    padding: 0rem;
    height: 55px;
  }
  section._container_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: $first_color;
    padding: 5rem 1.4rem .5rem 1.4rem;
    -webkit-box-shadow: 0px 0px 4px 0px #1a1a1a; 
    box-shadow: 0px 0px 4px 0px #1a1a1a; 
  }
  ._container_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
  }
  ._button { 
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;  
    padding: 0rem .7rem;
  }
  ._active_button {
    background: $third_color; 
  }
  ._inactive_button {
    background: $second_color;
  }
  ._icon_nav {
    color: $first_color;
    margin-right: 0px !important;
    padding: .7rem 0rem;
  }
  p._text_button {
    font-size: .7rem;
    color: $accent_color;
    margin-block-start: .5em;
    margin-block-end: .5em;
  }
  
}

// /* SCREEN 414px */
// @media (min-width: 414px) { 

//   section._container_buttons {
//     padding-top: 4.5rem;
//   }

// }


// /* SCREEN 768px */
// @media (min-width: 768px) { 

//   section._container_buttons {
//     padding: 5rem auto 2rem auto;
//   }

// }

/* SCREEN 1024px */
@media (min-width: 1024px) { 

  section._container_buttons {
    padding: 7rem 13rem;
  }
  ._button:hover { 
    background: $second_color_light;
  }

}

// /* SCREEN 1336px */
// @media (min-width: 1336px) { 

//   section._container_buttons {
//     padding: 7rem auto 2rem auto;
//   }

// }

// /* SCREEN 1920px */
// @media (min-width: 1920px) { 

//   section._container_buttons {
//     padding: 7rem auto 2rem auto;
//   }

// }

