<!-- <nav class="_container_navbar">
  <img routerLink="../back-office" class="_logo_navbar" src="" alt="">
  <p-menubar [model]="items" class="_item_nav">
  </p-menubar>
  <div class="_container_button">
    <button class="_config_btn" pButton 
      label="WORKS" icon="pi pi-cog"
      routerLink="config">
    </button>
    
  </div>
</nav> -->

<!-- <nav class="_container_navbar">
  <img routerLink="../home" class="_logo_navbar" src="" alt="">
  <p-menubar [model]="items" class="_item_nav">
  </p-menubar>
 
  
</nav> -->

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voice mail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>