@import '../../global.component.scss';

/* SCREEN 0px*/
@media (min-width: 0px) { 
  .mat-toolbar.mat-primary {
    background: $primary_color;
  }
  .mat-toolbar-row, 
  .mat-toolbar-single-row {
    justify-content: space-between;
  }
  .mat-menu-item {
    background: $primary_color;
    font-size: 1.1rem;
    font-weight: $font-weight-light;
    width: 100vw;
    height: 14vh;
    display: flex;
    align-items: center;
  }
  .mat-menu-item:hover {
    background: $primary_color_hover;
  }
  .mat-menu-item, 
  .mat-icon-no-color {
    color: $secondary_color;
  }
  span {
    color: $accent_color;
  }
  .mat-menu-submenu-icon {
    color: $secondary_color;
  }
  ::ng-deep
  .mat-menu-content {
    padding-top: 10px;
    padding-bottom: 10px;
    background: $primary_color;
    position: absolute;
    left: -16px;
  }
  img._logo_navbar {
    height: 60px;
  }
  div._empty {
    width: 40px;
    height: 40px;
  }
  figure {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0em;
    margin-inline-end: 3em;
    // padding-top: 0px;
  }
  img._firma_home {
    margin:auto;
  }
  
  ::ng-deep
  .mat-menu-item[_ngcontent-bbx-c50], .mat-icon-no-color[_ngcontent-bbx-c50], .mat-menu-submenu-icon[_ngcontent-bbx-c50] {
    color: $secondary_color;
  }
  ::ng-deep
    div.mat-elevation-z4 {
      background: $primary_color;
      margin-top: .7rem;
      width: 100vw;
      top: 50px;
      height: 40vh;
  }

 }
