
/* ------------ COLORS ------------ */
$primary_color: #333333;
$primary_color_hover: #1a1a1a;
$secondary_color: #03caff;
$accent_color: #f9f9f9;

/* ------------ TIPOGRAPHIES ------------ */
$font-weight-light: 200;

/* ------------ SIZES ------------ */
$height_md: 37px;
$height_lg: 50px;
$height_xl: 70px;
