
/* ------------ COLORS ------------ */
$first_color: #333333;
$first_color_hover: #1a1a1a;
$second_color: #03caff;
$second_color_light: #7ae3ff;
$second_color_lighter: #beeefa;
$third_color: #ffdd57;
$third_color_light: #ffdd57;
$quarter_color: #f89af3;
$quarter_color_light: #f8cbf6;
$fifth_color: #8F57FF;
$fifth_color_light: #C5A9FE;
$accent_color: #f9f9f9;

/* ------------ TIPOGRAPHIES ------------ */
$font-weight-light: 200;

/* ------------ SIZES ------------ */
$height_md: 37px;
$height_lg: 50px;
$height_xl: 70px;
