<article class="_container_all">
  <section class="_container_concepts">
    <div class="_concept" *ngFor="let concept of concepts">
      <h1 [ngStyle]="getStyles()">{{concept}}</h1>
    </div>
    <!-- <img class="_eye_home" src="..\assets\images\logo_eye.svg" 
      alt="Firma de Sebastián Bellido con dibujo de un ojo-pez-volador"> -->
  </section>
  <section class="_container_buttons">   
    <mat-button id="design" (click)="routeDesign()" mat-menu-item>
      <mat-icon class="_icon_nav">create</mat-icon>
    </mat-button>
    <mat-button id="development" (click)="routeDevelopment()" mat-menu-item>
      <mat-icon class="_icon_nav">code</mat-icon>
    </mat-button>
    <mat-button id="intervention" (click)="routeIntervention()" mat-menu-item>
      <mat-icon class="_icon_nav">color_lens</mat-icon>
    </mat-button>
    <mat-button id="biography" (click)="routeBiography()" mat-menu-item>
      <mat-icon class="_icon_nav">fingerprint</mat-icon>
    </mat-button>
  </section>
</article>
