<article class="_container_all">
    <section class="_container">
      <div class="_container_title">
        <mat-icon class="_icon_nav">album</mat-icon>
        <h1 class="_title">{{ area }}</h1>
      </div>
      <div *ngFor="let card of cards" >
        <div class="_card">
        <h4 class="_card_title">{{ card.tittle }}</h4>
        <p class="_text_card">
            <ng-container *ngIf="card.showFullText; else truncatedText">
            {{ card.text }}
            </ng-container>
            <ng-template #truncatedText>
            {{ card.text.length > 150 ? (card.text.slice(0, 150) + '...') : card.text }}
            </ng-template>
        </p>
        <button class="btn_see_more">
            <span *ngIf="card.text.length > 150">
            <a class="_see_more" (click)="toggleText(card)">
                {{ card.showFullText ? 'ver menos' : 'ver más' }}
            </a>
            </span>
        </button>
        </div>
        <img class="_card_img" [src]="card.image" alt="Imagen">
      </div>
      <app-footer class="_footer"></app-footer>
    </section>
  </article>