<article class="_container_all">
  <div class="_container_title">
    <hr class="_line_title"><h1 class="_title">ux | ui</h1><hr class="_line_title">
  </div>
  <section class="_container_card">
    <div class="_card_ux_ui">
      <div class="_header">
        <img class="_card_image" 
          src="../assets/images/ux_ui/v-life/logo/v_life.png" alt="Logo del proyecto">
      </div>
      <div class="_card_body">
        <!-- <p class="_p_card">App mobile que <b>conecta pacientes con profesionales de la salud.</b> 
          En <b>2019, Sebastián</b> fue encargado de realizar <b>rediseño de marca, desarrollo UX | UI, 
            diseño de interacción y armado de prototipos en alta definición</b> para Trenda Software. 
            La <b>aplicación</b> fue <b>lanzada en 2020</b> en Argentina.
        </p> -->
        <p class="_p_card">Mobile app that <b>connects patients with health professionals.</b>
          In <b>2019, Sebastián</b> was commissioned to carry out <b>brand redesign, UX development | UI,
            interaction design and assembly of prototypes in high definition</b> for Trenda Software.
            The <b>application</b> was <b>launched in 2020</b> in Argentina.
        </p>
      </div>
    </div>
    <div class="_footer_card">
      <button class="_button_see_more"
        (click)="routeVlife()" mdbBtn color="primary">
        SEE PROYECT
      </button>
    </div>
  </section>
  <section class="_container_card">
    <div class="_card_ux_ui">
      <div class="_header">
        <img class="_card_image" 
          src="../assets/images/ux_ui/hunt/logo/hunt_logo.png" alt="Logo del proyecto">
      </div>
      <div class="_card_body">
        <p class="_p_card"><b>Complex software system</b> designed to perform <b>tracking of shipments in real time,
          travel assignments and personalization of tours.</b> In 2020, Sebastian performed <b>heuristic analysis,
          interface redesign, naming, brand design, landing page and frontend software development.</b>
          This product was developed and is distributed by Stormtech Solutions SRL.
        </p>
        <!-- <p class="_p_card">Sistema de <b>software complejo</b> diseñado para realizar <b>seguimiento de envíos en tiempo real, 
          asignaciones de viajes y personalización de recorridos.</b> En 2020, Sebastián realizó <b>análisis heurístico, 
          rediseño de la interfaz, naming, diseño de marca, landing page y desarrollo de software frontend.</b> 
          Este producto fue desarrollado y es distribuído por Stormtech Solutions SRL.
        </p> -->
      </div>
    </div>
    <div class="_footer_card">
      <button class="_button_see_more"
        (click)="routeVlife()" mdbBtn>
        SEE PROYECT
      </button>
    </div>
  </section>
  <section class="_container_card">
    <div class="_card_ux_ui">
      <div class="_header">
        <img class="_card_image" 
          src="../assets/images/ux_ui/travel_log/logo/travelLog_logo.png" alt="Logo del proyecto">
      </div>
      <div class="_card_body">
        <!-- <p class="_p_card">App mobile que <b>permite agendar viajes, asociando vuelos, 
          reservas, excursiones, </b>entre otras funcionalidades. Sebastián <b>realizó diseño de logo, captura de requerimientos, 
          user stories, diseño de interacción, wireframes, mockups y maqueta </b>en el marco de la Cátedra Introducción 
          a las Metodologías de desarrollo de software de la carrera <b>TUDAI | FCEx | UniCen</b> Tandil Argentina.
        </p> -->
        <p class="_p_card">Mobile app that <b>allows you to schedule trips, associating flights,
          reservations, excursions, </b>among other features. Sebastián <b>designed the logo, captured requirements,
          user stories, interaction design, wireframes, mockups and model </b>in the framework of the Introduction Chair
          to the software development methodologies of <b>TUDAI | FCEx | UniCen</b> Tandil Argentina.
        </p>
      </div>
    </div>
    <div class="_footer_card">
      <button class="_button_see_more"
        (click)="routeVlife()" mdbBtn color="primary">
        SEE PROYECT
      </button>
    </div>
  </section>

  <div class="_container_button_back">
    <button mat-button class="_button_back" routerLink="../">
      <mat-icon class="_icon_button">keyboard_backspace</mat-icon>
    </button>
  </div>
</article>
<app-footer></app-footer>
