<section class="_container_buttons">   
  <div class="_container_button">
    <mat-button class="_button" id="design" (click)="route('design')" mat-menu-item>
      <mat-icon class="_icon_nav">create</mat-icon>
    </mat-button>
    <p class="_text_button">diseño</p>
  </div>
  <div class="_container_button">
    <mat-button class="_button" id="development" (click)="route('development')" mat-menu-item>
      <mat-icon class="_icon_nav">code</mat-icon>
    </mat-button>
    <p class="_text_button">desarrollo</p>
  </div>
  <div class="_container_button">
    <mat-button class="_button" id="intervention" (click)="route('intervention')" mat-menu-item>
      <mat-icon class="_icon_nav">color_lens</mat-icon>
    </mat-button>
    <p class="_text_button">intervención</p>
  </div>
  <div class="_container_button">
    <mat-button class="_button" id="biography" (click)="route('biography')" mat-menu-item>
      <mat-icon class="_icon_nav">fingerprint</mat-icon>
    </mat-button>
    <p class="_text_button">biografía</p>
  </div>
</section>